@charset "UTF-8";
/* fontはgoogleFontからもってくる */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/* common
---------------------------------------*/
html {
  font-size: 100%;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color:white;
  background-color: black;
}

a{
  text-decoration: none;
  color:white;
}

img{
  max-width: 100%;
}

/* header
---------------------------------------*/
.page-header{
  border-bottom: 1px solid white;
}

.page-header .logo{
  margin:10px 0;
  width:100px;
}

.page-header h1{
  margin-top: 18px;
  font-size: 3rem;
  font-weight: 900;
}


.main-nav{
  display: flex;
  font-size: 1.00rem;
  text-transform: uppercase;
  margin-top: 55px;
  margin-bottom: 10px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a{
  color:white;
}

.main-nav a:hover{
  color: gray;
}

.page-header{
  display: flex;
  justify-content: space-between;
}

/* humbarger */
#menu-btn-check {
  display: none;
}

.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* main-catch-copy
---------------------------------------*/
.main{
  text-align: center;
}

.main-catch-copy{
  margin-top: 60px;
  position: relative;
}

.main-catch-copy p{
  position: absolute;
  color: white;
  font-size: 1.5rem;
  /* text center in img start */
  top:30%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /* text center in img end */
}

.main-catch-copy img{
  /* 拡大・縮小を上手にやりたい*/
  /* height: 500px; */
  height: 100%;
  width: 90%;
  border-radius: 30px;
}

/* category-common
---------------------------------------*/
.category-common{
  margin-top:100px;
}

.category-title{
  font-size: 1.5rem;
  margin-left:5px;
}

.category-explain{
  font-size: 0.8rem;
}

.category-title-logo{
  display: flex;
  justify-content: center;
}

.category-explain{
  margin-top: 16px;
}

.category-pic{
  margin-top: 20px;
  height: 50%;
  width: 50%;
  border-radius: 10px;
}


/* company
---------------------------------------*/
.company-flex .category-common{
  margin-top: 20px;
  text-align: center;
}


.company-flex .icon{
  width:40px; /* iconの幅は固定 */
}


.pict {
  width: 50%;
  margin-left: 3%;
}

.company-pic{
  height: auto;
  width: 100%;
  border-radius: 10px;
}


.company-box {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.company-flex .text p{
  text-align: left;
}

/* recruit
---------------------------------------*/
.recruit{
  /* margin-top: 50px; */
  text-align: center;
}

/* カテゴリタイトル微調整 */
.recruit .category-title-logo{
  margin-right: 16px;
}

.recruit .icon{
  width:40px; /* iconの幅は固定 */
}


/* contact-form
---------------------------------------*/
.contact-form{
  /* margin-top: 50px; */
  text-align: center;
}

/* カテゴリタイトル微調整 */
.contact-form .category-title-logo{
  margin-right: 16px;
}

.contact-form .icon{
  width:40px; /* iconの幅は固定 */
}


.contact-form .category-explain{
  margin-bottom: 20px;
}

/* form
---------------------------------------*/
/* form cp start */
.c-form {
	max-width: 600px;
	margin: 0 auto;
}
.c-form__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 20px;
}
.c-form__input {
	padding: 10px;
  color:white;
}
.c-form__input {
	width: 100%;
	font-size: 16px;
	border: solid 1px #333;
	border-radius: 4px;
}
.c-form__input:focus-visible {
	outline: gray auto 1px;
}
.c-form__required {
	color: #fff;
	background-color: gray;
	border-radius: 4px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
}
textarea.c-form__input {
	height: 160px;
}
.c-form__submit {
	text-align: center;
}
.c-form__submit button {
	font-size: 18px;
	color: #fff;
	background-color: black;
	border: solid 1px white;
	border-radius: 4px;
	padding: 5px 32px;
	transition: 0.4s;
	cursor: pointer;
}
.c-form__submit button:hover {
	color: gray;
	background-color: transparent;
}

@media (min-width: 640px) {
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__input {
		/* width: 55%; */
		width: 84%;
	}
}

/* form cp end */

/* access
---------------------------------------*/
.access{
  /* margin-top: 50px; */
  text-align: center;
}

/* カテゴリタイトル微調整 */
.access .category-title-logo{
  margin-right: 16px;
}

.access .icon{
  width:40px; /* iconの幅は固定 */
}

.map-img{
  margin-top:20px;
}

.map-img iframe{
  border-radius: 10px;
}

/* footer
---------------------------------------*/
footer{
  background: black;
  text-align: center;
  padding: 26px 0;
  margin-top: 50px;
  border-top: 1px solid #fff;
}

footer p{
  color: #fff;
  font-size: 0.875rem;
}


/* sp
---------------------------------------*/
@media(max-width:600px) {
  /* レスポンシブの場合に分かりやすいように背景色変更（仮）*/
  body{
    background-color:aquamarine;
  }

  /* header-sp
  ---------------------------------------*/
  .page-header{
    justify-content: flex-start;
  }

  .page-header .logo{
    height: auto;
    width: 68px;

  }

  #global-navi{
    display: none;
  }

  /* hamburger-sp
  ---------------------------------------*/
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: #ffffff;
      position: absolute;
  }
  .menu-btn span:before {
      bottom: 8px;
  }
  .menu-btn span:after {
      top: 8px;
  }

  /* openで×に変更 start */
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg);
  }
  /* openで×に変更 end */

  /* main-sp
  ---------------------------------------*/
  .main-catch-copy img{
    width: 100vw;
  }

  /* category-common-sp
  ---------------------------------------*/
  .category-pic{
    width: 100vw;
  }

  /* company-flex-sp
  ---------------------------------------*/  
  .company-box{
    flex-direction: column;
  }

  .company-flex .pict{
    width: 100%;
    margin: 0 auto;
  }

  .company-flex .text{
    font-size:0.8rem;
  }

  /* access-sp
  ---------------------------------------*/
  .map-img {
    height: 0;
    overflow: hidden;
    padding-bottom: 75%;
    position: relative;
  }
  .map-img iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  
}