@charset "UTF-8";

/* common
---------------------------------------*/
html {
  font-size: 100%;
}

body{
  /* fontはgoogleFontからもってくる */
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color:black;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

/* header
---------------------------------------*/
.logo{
  width: 210px;
  margin-top: 14px;
}

.main-nav{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a{
  color:#432
}

.main-nav a:hover{
  color: gray;
}

.page-header{
  display: flex;
  justify-content: space-between;
}

.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}