@charset "UTF-8";
/* fontはgoogleFontからもってくる */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/* common
---------------------------------------*/
html {
  font-size: 100%;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color:black;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

/* category */
.category-title{
  font-size: 1.5rem;
}

.category-explain{
  font-size: 0.8rem;
}

/* header
---------------------------------------*/
.page-header{
  border-bottom: 2px solid black;
}

.page-header h1{
  font-size: 3rem;
  font-weight: 900;
}

.logo{
  width: 210px;
  margin-top: 14px;
}

.main-nav{
  display: flex;
  font-size: 1.00rem;
  text-transform: uppercase;
  margin-top: 55px;
  margin-bottom: 10px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a{
  color:#432
}

.main-nav a:hover{
  color: gray;
}

.page-header{
  display: flex;
  justify-content: space-between;
}

.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* main-catch-copy
---------------------------------------*/
.main{
  text-align: center;
}

.main-catch-copy{
  margin-top: 60px;
  position: relative;
}

.main-catch-copy p{
  position: absolute;
  color: white;
  font-size: 1.5rem;
  /* text center in img start */
  top:30%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /* text center in img end */
}

.main-catch-copy img{
  /* 拡大・縮小を上手にやりたい*/
  /* height: 500px; */
  height: 500px;
  width: 90%;
  border-radius: 30px;
}

/* company
---------------------------------------*/
.company{
  margin-top: 50px;
  text-align: center;
}

.flex{
  display: flex;
  justify-content: center;
}

.icon{
  height: 4%;
  width: 4%;
}

.category-explain{
  margin-top: 16px;
}

.category-pic{
  margin-top: 20px;
  height: 50%;
  width: 50%;
  border-radius: 10px;
}